/* hero section exhibitions */
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("/images/children.jpg");
}
/* hero section exhibitions */

/* explore section */
.explore-container,
.get-involved-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

.explore-item,
.get-involved-item {
    margin: 20px 0;
}

.explore-item h2,
.get-involved-item h2 {
    margin: 10px 0 20px 0;
}

.explore-item p,
.get-involved-item p {
    margin-bottom: 20px;
}
/* explore section end */

/* image section */
.image-section {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/images/school-never-stop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* image section end */

/* media queries */
@media screen and (min-width: 1200px) {
    .explore-container,
    .get-involved-container {
        flex-direction: row;
        max-width: 1300px;
        align-items: flex-start;
        margin: 0 auto;
    }
    .explore-item,
    .get-involved-item {
        padding: 0 20px;
    }
}
/* media queries end */
