/* hero section home */
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("/images/t-rex.jpg");
}
/* hero section home */

/* scroll down */
/* #scroll-popular-section,
#scroll-special-events-section {
    background: #f8f8ff;
} */
/* scroll down end */

/* popular section */
.popular-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/images/rob-the-robot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.popular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    margin: 0 10px;
}

.popular-container h2 {
    margin: 10px 0;
}

.see-popular-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    /* background-color: rgba(0, 0, 0, 0.77); */
    border: 2px solid white;
    margin: 30px 7px 0 7px;
    /* text-transform: uppercase; */
}
/* popular section end */

/* special events section */
.special-events-section {
    background: #f8f8ff;
    padding: 60px 0;
}

.special-events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

.special-event-item {
    margin: 20px 0;
}

.special-event-item h3 {
    margin: 10px 0 20px 0;
}

.special-event-item p {
    margin-bottom: 20px;
}
/* special events section end */

/* clubs section */
.clubs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/images/stem-cut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* margin-bottom: 50px; */
}

.clubs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 10px;
}

.clubs-container h2 {
    font-size: 1.5rem;
    color: white;
}

.explore-club-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    /* background-color: rgba(0, 0, 0, 0.77); */
    border: 2px solid white;
    margin: 30px 7px 0 7px;
    text-transform: uppercase;
}

.explore-club-button:hover,
.see-popular-button:hover {
    /* background: rgba(255, 255, 255, 0.8); */
    background: white;
    color: black;
    transition: all 0.3s ease;
}
/* clubs section end */

/* media queries */
@media screen and (min-width: 768px) {
    .clubs-container h2,
    .popular-container h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .special-events-container {
        flex-direction: row;
        max-width: 1300px;
        align-items: flex-start;
        margin: 0 auto;
    }
    .special-event-item {
        padding: 0 20px;
    }
    .clubs-container h2,
    .popular-container h2 {
        font-size: 3rem;
    }
}
/* media queries end */

.header-events {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
