#chalk1 {
  grid-column: 1/9;
  grid-row: 3/4;
  transform: rotate(-7deg);
}
#chalk2 {
  grid-column: 1/9;
  grid-row: 4/5;
  transform: rotate(-4deg);
}
#chalk3 {
  grid-column: 1/9;
  grid-row: 5/6;
  transform: rotate(3deg);
}

#chalk-draw1 {
  grid-column: 6/8;
  grid-row: 6/7;
  transform: rotate(1deg);
}

#landing-info {
  grid-column: 6/9;
  grid-row: 4/6;
}

#kid4 {
  width: 100%;
  grid-column: 1/4;
  grid-row: 5/9;
}

.involvement img {
  width: 100%;
}

/* media queries */

@media only screen and (min-width: 768px) {
  .grid2 h1 {
    font-size: 4rem;
  }
  .wrapper a {
    font-size: 3rem;
  }

  #chalk1 {
    grid-column: 2/6;
    grid-row: 3/4;
  }
  #chalk2 {
    grid-column: 2/6;
    grid-row: 4/5;
  }
  #chalk3 {
    grid-column: 2/6;
    grid-row: 5/6;
  }
  #landing-info {
    display: grid;
  }

  #kid4 {
    grid-column: 1/3;
    grid-row: 5/9;
  }
  #chalk-draw1 {
    grid-column: 7/8;
    grid-row: 5/8;
    transform: rotate(1deg);
  }

  .explore {
    margin: auto 20%;
  }
  .involvement {
    margin: auto 10%;
  }
}

@media only screen and (min-width: 1200px) {
  #chalk1 {
    grid-column: 2/5;
    grid-row: 3/4;
  }
  #chalk2 {
    grid-column: 2/5;
    grid-row: 4/5;
  }
  #chalk3 {
    grid-column: 2/5;
    grid-row: 5/6;
  }
  #kid4 {
    width: 75%;
    grid-column: 1/3;
    grid-row: 5/8;
  }
  .scroll-down {
    grid-column: 3/7;
    grid-row: 8/9;
  }
  .wrapper a {
    font-size: 4rem;
  }
  #landing-info {
    display: grid;
    max-width: 300px;
  }
  #chalk-draw1 {
    grid-column: 5/6;
    grid-row: 3/6;
    transform: rotate(1deg);
  }
  .involvement img {
    max-width: 1200px;
  }
  .involvement {
    margin: auto 20%;
  }
}
